* text=auto

*.py text eol=lf
*.pyi text eol=lf
*.json text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.toml text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.mp3 binary
*.wav binary
*.png binary
*.jpg binary
*.jpeg binary
